body {
	background-color: #c8c8c8;
}
header {
	position: center;
	background-color: #49a5bf;
	text-align: center;
	font-style: italic;
}
#userInfo {
	display: inline;
	font-style: italic;
	font-weight: bold; 
}
form {
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

#select {
	text-align: center;
}

.validInput:valid:target {
	background-color: green;
}

inputInput:invalid:target {
	background-color: red;
}

.contact input:valid {
  background-color: green;
}

.contact input:invalid {
  background-color: red;
}